<div id="<%= dom_id reservation %>">
  <p>
    <strong>Date:</strong>
    <%= reservation.date %>
  </p>

  <p>
    <strong>Reservation:</strong>
    <%= reservation.name %>
  </p>

  <p>
    <strong>Reservation:</strong>
    <%= reservation.party_size %>
  </p>

</div>
